<div>
  <image-cropper
    [imageFile]="config.imageFile"
    [style.max-width.px]="config.max_image_width"
    [imageBase64]="config.imageBase64"
    [maintainAspectRatio]="config.maintainAspectRatio"
    [aspectRatio]="config.aspectRatio"
    [format]="config.format"
    (imageCropped)="imageCropped($event)"
    output="base64"
  ></image-cropper>
</div>
<div class="p-dialog-footer custom-footer py-4">
  <div class="flex justify-end gap-2">
    <p-button [outlined]="true" [label]="'Close' | translate" (onClick)="close()"></p-button>
    <p-button [label]="'Save' | translate" (onClick)="doneCropping()">
      <ng-template pTemplate="icon">
        <i class="fa-solid fa-floppy-disk fa-lg"></i>
      </ng-template>
    </p-button>
  </div>
</div>
