<div class="cyf-cropper-canvas">
  <image-cropper
    [imageFile]="config.imageFile"
    [style.max-width.px]="config.max_image_width"
    [imageBase64]="config.imageBase64"
    [maintainAspectRatio]="config.maintainAspectRatio"
    [aspectRatio]="config.aspectRatio"
    [format]="config.format"
    (imageCropped)="imageCropped($event)"
    output="base64"
  ></image-cropper>
</div>
<div class="cyf-cropper-footer">
  <p-button [outlined]="true" [label]="'actions.cancel' | translate" (onClick)="close()"></p-button>
  <p-button [label]="'actions.save' | translate" (onClick)="doneCropping()">
    <ng-template pTemplate="icon">
      <i class="fa-solid fa-floppy-disk fa-lg"></i>
    </ng-template>
  </p-button>
</div>
