.diagonal-image {
  mask-image: linear-gradient(115deg, #000 35%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 60%, transparent 70%);
  -webkit-mask-image: linear-gradient(115deg, #000 35%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 60%, transparent 70%);
}

:host-context([dir='rtl']) .diagonal-image {
  mask-image: linear-gradient(245deg, #000 35%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 60%, transparent 70%);
  -webkit-mask-image: linear-gradient(245deg, #000 35%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2) 60%, transparent 70%);
}
